{%- import 'imports/settings.html' as settings -%}

{%- block html_cntr -%}
	<!DOCTYPE html>
		{%- block html -%}
		<!--[if lt IE 7]>	<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
		<!--[if IE 7]>	 <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
		<!--[if IE 8]>	 <html class="no-js lt-ie9"> <![endif]-->
		<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
			{%- block head_cntr -%}
				<head>
					{%- block head -%}
						{%- block head_meta -%}
							<meta charset="utf-8">
							<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
							<title>{%- block title -%}{{ settings.title }}{%- endblock title -%}</title>
							<meta name="description" content="{%- block description -%}{{ settings.title }}{%- endblock description -%}">
							{%- if settings.google_site_verification is defined -%}
								<meta name="google-site-verification" content="{{ settings.google_site_verification }}" />
							{%- endif -%}
							<meta name="viewport" content="width=device-width">
							<link rel="canonical" href="{{ settings.canonical_domain }}{{ canonical_path | default( request.path ) }}"/>	
						{%- endblock head_meta -%}

						{%- block stylesheets -%}
							<link rel="stylesheet" href="{{ settings.asset_domain }}/css/reset.css">
							<link rel="stylesheet" href="{{ settings.asset_domain }}/css/common.css">
							<link rel="stylesheet" href="{{ settings.asset_domain }}/css/landing.css">
							<link rel="stylesheet" href="{{ settings.asset_domain }}/webfonts/ss-social.css" />
							<link rel="stylesheet" href="{{ settings.asset_domain }}/webfonts/ss-standard.css" />
						{%- endblock stylesheets -%}
						<style type="text/css">
							{%- block inline_styles -%}
							{%- endblock inline_styles -%}
						</style>

						{%- block scripts -%}
							<script src="//ajax.googleapis.com/ajax/libs/jquery/{{ settings.jquery_version }}/jquery.min.js"></script>
							<script>window.jQuery || document.write('<script src="{{ settings.asset_domain }}/js/jquery-{{ settings.jquery_version }}.min.js"><\/script>')</script>
							<script src="{{ settings.asset_domain }}/js/modernizr-{{ settings.modernizr_version }}.min.js"></script>
							<script type="text/javascript" src="//use.typekit.net/{{ settings.typekit_id }}.js"></script>
							<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
						{%- endblock scripts -%}
					{%- endblock head -%}
				</head>
			{%- endblock head_cntr -%}
			<body class="tk-freight-sans-pro">
				{%- block body -%}
					{%- block chromeframe -%}
						<!--[if lte IE 8]>
								<div class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</div>
						<![endif]-->
					{%- endblock chromeframe -%}
					{%- block flash_message -%}
						{%- include 'includes/flash_message.html' -%} {# page-level feedback notices #}
					{%- endblock flash_message -%}

					{%- block page -%}
						{%- block header -%}
							<section class="section section-header">
								<div class="container">
									{%- block parent_link_cntr -%}
										<a class="vp-btn-header button-left" href="{{ parent_link_url | default(url_for('home')) }}">{{ parent_link_url | default('Homepage') }}</a>
									{%- endblock parent_link_cntr -%}
									{%- if request.path != url_for('home') -%}
									<a href="{{ url_for('home') }}" rel="home">
									{%- endif -%}
										<div class="vp-logo">
												<span>{{ settings.logo_first}}</span><span> {{ settings.logo_second }}</span>
										</div>
									{%- if request.path != url_for('home') -%}
									</a>
									{%- endif -%}
								</div>
							</section>
						{%- endblock header -%}

						{%- block content -%}
						{%- endblock content -%}

						{%- block footer -%}
						{%- endblock footer -%}
					{%- endblock page -%}
					{%- block footer_scripts -%}
						<script src="{{ settings.asset_domain }}/webfonts/ss-social.js"></script>
						<script src="{{ settings.asset_domain }}/webfonts/ss-standard.js"></script>
						<script src="{{ settings.asset_domain }}/js/common.js"></script>
					{%- endblock footer_scripts -%}

					<script type="text/javascript">
						{%- block inline_scripts -%}
						{%- endblock inline_scripts -%}
					</script>
					{%- block google_analytics -%}
						{%- if settings.google_analytics_id is defined -%}
							<script type="text/javascript">

								var _gaq = _gaq || [];
								_gaq.push(['_setAccount', '{{ settings.google_analytics_id }}']);
								_gaq.push(['_trackPageview']);

								(function() {
									var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
									ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
									var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
								})();

							</script>
						{%- endif -%}
					{%- endblock google_analytics -%}
				{%- endblock body -%}
			</body>
		{%- endblock html -%}
	</html>
{%- endblock html_cntr -%}