{% extends 'page.html' %}

{% block title %}Clients | {{ super() }}{% endblock title %}

{% block page_heading %}
	Some of our clients
{% endblock page_heading %}

{% block content_inner %}
	<ul>
		<li>
			<h2>United States Navy</h2>
		</li>
		<li>
			<h2>EA games</h2>
		</li>
		<li>
			<h2>NASA</h2>
		</li>
		<li>
			<h2>Department for Transport</h2>
		</li>
		<li>
			<h2>Bayer Pharmaceuticals</h2>
		</li>
	</ul>
{% endblock content_inner %}

{% block service_info %}
{% endblock service_info %}